* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;

    h1 {
        font-size: 30px;
        width: 100%;
    }

    .navbar-list {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px;
        gap: 30px
    }

}

.page {
    background-color: black;
    height: 70px;
    width: 100%;

    h3 {
        width: 100%;
        height: 100px;
        color: white;
        text-align: center;
        padding-top: 25px;

        a {
            color: #fff;
            border-bottom: 2px solid white;
        }
    }
}

.image-screen {
    width: 100%;
    height: 688px;
    padding: 0px 60px;
    background-color: #451314;

    .text {
        width: 100%;
        height: 100px;
        margin-left: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;






    }
}

.second-screen {
    width: 100%;
    height: 100px;
    margin-top: 40px;




    .image {
        width: 100%;

        display: flex;
        justify-content: end;
        gap: 10px;


    }
}
.third-screen{
    width: 100%;
    background-image: url(./assets/indir\ \(5\).jpg);
}